*
{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	
}


body
{
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 60px;
	background-color: #ddd;
}

h1,h2,h3,h4,h5
{
	font-family: 'Montserrat', sans-serif;
}

.navbar
{
	max-height: 60px;
	padding: 30px 10px;
	
}

.navbar .collapse .dropdown .nav-link
{
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	
	
}

.navbar .collapse .dropdown
{
	max-height: 68px;
	padding-top:10px;
	
}

.navbar-expand-lg .navbar-nav .dropdown-menu
{
	width:150px;
	font-size: 14px;
}

.navbar .collapse .dropdown img
{
	width:40px;
	height: 40px;
	border-radius: 50%
}

.navbar .collapse .dropdown .online
{
	
	background-color: #f23;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top:47px;
	left: 39px;
	border:2px solid #fff;
}

.navbar .navbar-brand img
{
	width:40px;
	height: 40px;
	margin-left: 30%;
	
}

.navbar .navbar-brand h3
{
	color:#fff;
	font-size: 20px;
    font-weight: 500;
	margin-left: 30%;
	display: inline;
}

.navbar .collapse i
{
	font-size: 24px;
	color:#fff;
	font-weight:500;
	padding: 18px 10px;
	
}

.navbar .collapse .dropdown:hover
{
	background-color:#23527c; 
}

.navbar .collapse i:hover
{
	background-color:#23527c; 
	
}

.flex-column .nav-item .nav-link
{
	color:#b7c0cd;
	font-size: 13px;
	font-weight: 500;
	width: 100%
}

.flex-column .nav-item .nav-link:hover
{
	color:#fff;
}

.container-fluid .row .new_class1
{
	background-color:#263238; 
	overflow: auto;
}

.flex-column .nav-item .nav-link .fa-angle-right
{
	position: absolute;
	right: 20px;
}

.flex-column .nav-item .nav-link .fa-angle-down
{
	position: absolute;
	right: 20px;
}

.new_class2 .col-md
{
	background-color: #fff !important;
	margin-right: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px gray;
	box-shadow: 2px 2px 5px gray;
}

.new_class2 .col-md i
{
	padding: 10px;
	background-color: #cfc;
	border-radius: 50%;
}

.class1 .table-striped
{
	font-size:13px;
}

.class2 .table-striped
{
	font-size:12px;
}

.class1 .table-striped a
{
	text-decoration: none;
}

.class3 
{
	overflow: auto;
		
}

.class3 .table-striped h2
{
	font-size:12px;
	padding: 5px 10px;
	width: 180px;
}

.class3 .table-striped h2 span
{
	font-size:10px;
}

.class3 .table-striped a
{
	text-decoration: none;
}

.class3 .table-striped tr
{
	font-size:12px;
}

.class3 .table-striped .one
{
	background-color: #aaa;
	padding: 10px;
	border-radius: 50%;
	display: inline!important;
	float: left !important;
}

.class3 .table-striped .two
{
	width: 150px;
	display: inline !important;
	padding: 5px 5px;
	font-size: 12px;
	float: left !important;
}

.class3 .table-striped td .dropdown
{
	border:1px solid #ccc;
	border-radius: 20px;
	padding: 0px !important;
}

.class3 .table-striped i
{
	font-size: 18px;
	padding-top: 15px;
	padding-left: 15px;
}

.progress
{
	height: 5px;
	width: 200px;
	margin-top: 20px;
}

.top h2
{
	color:#333;
	font-size: 20px;
	font-family: inherit;
}

.top p 
{
	background-color:#667eea;
	color:#fff;
	border-radius: 20px;
	padding: 5px 10px;
}

.class5 .table-borderless
{
	font-size: 14px;
	border-left: 2px dashed #ddd;
	padding-left: 10px !important;
	
}

.lang
{
	
	padding: 5px 10px;
	border:1px solid #345;
	border-radius: 20px;
	text-align: center;
}

.line
{
	background-color: #ddd;
	width: 2px;
	height: 130px;
	margin-left: 15px;
	margin-top: 10px;
	position: absolute;
}

.circ1
{
	background-color: #ddd;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top:65px;
	left: 25px;
		
}

.circ2
{
	background-color: #ddd;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top:145px;
	left: 25px;
		
}

.all
{
	margin-left: 25px;
	font-size: 14px;
}

.line2
{
	background-color: #ddd;
	width: 2px;
	height:200px;
	margin-left: 15px;
	margin-top: 10px;
	position: absolute;
}

.circ3
{
	background-color: #ddd;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top:222px;
	left: 25px;
		
}

.last form select
{
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	color: #555;
}

.last form label
{
	
	font-size: 14px;
	color: #333;
}

.last .table-striped
{
	font-size: 12px;
	margin-top: 20px;
}

.last .table-striped td
{
	padding-top: 20px;
}

.last .table-striped i
{
	font-size: 12px;
	color:#ddd;
	
}

.last .table-striped .fa-ellipsis-v
{
	color: #333;
	font-size: 14px;
}

.last .table-striped img
{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border:1px solid #fff;
}

.last .table-striped span
{
	width: 26px;
	height: 26px;
	color:#fff;
	color:#fff;
	color:#fff;
	color:#fff;
	background-color: #02f;
	border-radius: 50%;
	padding: 5px;
}

.last .btn-toolbar .btn-group button
{
	border:1px solid #ddd;
	font-size: 14px;
}

.last .btn-toolbar .btn-group .only
{
	color:#fff;
	background-color: #05f;
}

.last p
{
	font-size: 14px;
	margin: 10px 20px;
	
}

.clickhide
{
	display: none;
}